{# empty Twig template #}
{% extends 'layout.html.twig' %}
{% block content %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="row">
    <div class='col-md-2'>
    <h2>
      Informations pratiques
    </h2>
    <table>
    <tr> 
      <td>Lundi</td>
      <td>9 h - 18 h</td>
    </tr>
    <tr> 
      <td>Mardi</td>
      <td>Ferm√©</td>
    </tr>
    <tr> 
      <td>Mercredi</td>
      <td>9 h - 21h45</td>
    </tr>
    <tr> 
      <td>Jeudi</td>
      <td>9 h - 18 h</td>
    </tr>
    <tr> 
      <td>Vendredi</td>
      <td>9 h - 21h45</td>
    </tr>
    <tr> 
      <td>Samedi</td>
      <td>9 h - 18 h</td>
    </tr>
    <tr> 
      <td>Dimanche</td>
      <td>9 h - 18 h</td>
    </tr>
    <p>Mus√©e ferm√© les 1er mai, 1er novembre et 25 d√©cembre</p>
    </table>
        <h2>Conditions d'achat</h2>
            <p>8 billets par commande</p>
            <p>Entr√©e √† partir de 14h pour le billets Demi-journ√©e</p>
                <h2>Informations tarifaires</h2>
                   <p> Normal (√† partir de 12 ans): 16 ‚Ç¨</p>
                   <p>Enfant (√† partir de 4 ans et jusqu‚Äô√† 12 ans): √† 8 ‚Ç¨</p>
                   <p>Enfant -4ans : Gratuit</p>
                   <p>Senior (√† partir de 60 ans): 12  ‚Ç¨</p>
                   <p>R√©duit  de 10 ‚Ç¨ accord√© dans certaines conditions (√©tudiant, employ√© du mus√©e, d‚Äôun service du Minist√®re de la Culture, militaire‚Ä¶)<p>
    </div>
    <div class="col-md-6">
        <h1>ETAPE 2 : ComplÈtez les coordonn√©es des visiteurs</h1>

         <form action='{{ path('showtickets') }}' method='POST'>
           {{ form_errors(form) }}
 
            <div>
                 {{ form_label(form.datereservation, "Date de la rÈservation") }}
                 {{ form_errors(form.datereservation) }}
                 {{ form_widget(form.datereservation) }}
            </div>
            <div>
                 {{ form_label(form.visit, "Date de la visite") }}
                 {{ form_errors(form.visit) }}
                 {{ form_widget(form.visit) }}
            </div>
            <div>
                 {{ form_label(form.typeticket, "Type de ticket") }}
                 {{ form_errors(form.typeticket) }}
                 {{ form_widget(form.typeticket) }}
            </div>
            <div>
                 {{ form_label(form.quantity, "Nombre de billets") }}
                 {{ form_errors(form.quantity) }}
                 {{ form_widget(form.quantity) }}
            </div>
            <div>
                 {{ form_label(form.name, "PrÈnom") }}
                 {{ form_errors(form.name) }}
                 {{ form_widget(form.name) }}
            </div>
            <div>
                 {{ form_label(form.surname, "Nom") }}
                 {{ form_errors(form.surname) }}
                 {{ form_widget(form.surname) }}
            </div>
            <div>
                 {{ form_label(form.email, "Votre email") }}
                 {{ form_errors(form.email) }}
                 {{ form_widget(form.email) }}
            </div>
        <h2>Informations visiteurs</h2>

        <div class="visiteurs" style="border">
        {#  {% for ticket in formulaire %}#}
            <div>
                 {{ form_label(formulaire.name, "PrÈnom") }}
                 {{ form_errors(formulaire.name) }}
                 {{ form_widget(formulaire.name) }}
            </div>      
            <div>
                 {{ form_label(formulaire.surname, "Nom") }}
                 {{ form_errors(formulaire.surname) }}
                 {{ form_widget(formulaire.surname) }}
            </div> 
            <div>
                 {{ form_label(formulaire.birth, "Date de naissance") }}
                 {{ form_errors(formulaire.birth) }}
                 {{ form_widget(formulaire.birth) }}
            </div> 
            <div>
                 {{ form_label(formulaire.country, "Pays de rÈsidence") }}
                 {{ form_errors(formulaire.country) }}
                 {{ form_widget(formulaire.country) }}
            </div> 
            <div>
                 {{ form_label(formulaire.reduction, "Tarif rÈduit") }}
                 {{ form_errors(formulaire.reduction) }}
                 {{ form_widget(formulaire.reduction) }}
            </div> 
            <div>
                 {{ form_label(formulaire.price, "Prix") }}
                 {{ form_errors(formulaire.price) }}
                 {{ form_widget(formulaire.price) }}
            </div> 
          {#  {% endfor %}#}
        </div>

            <div>
            <button type="submit" name="Valider coordonn√©es visiteur"  value="enregistrer"  class="btn btn-primary">Valider coordonn√©es visiteur</button> 
            </div>
         </form>

    

</div>

{% endblock %}
