{# empty Twig template #}
{% extends 'layout.html.twig' %}
{% block head %}
   <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
{% endblock %}
{% block content %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="row">
    <div class='col-md-2'>
    <h2>
      Informations pratiques
    </h2>
    <table>
    <tr> 
      <td>Lundi</td>
      <td>9 h - 18 h</td>
    </tr>
    <tr> 
      <td>Mardi</td>
      <td>Fermé</td>
    </tr>
    <tr> 
      <td>Mercredi</td>
      <td>9 h - 21h45</td>
    </tr>
    <tr> 
      <td>Jeudi</td>
      <td>9 h - 18 h</td>
    </tr>
    <tr> 
      <td>Vendredi</td>
      <td>9 h - 21h45</td>
    </tr>
    <tr> 
      <td>Samedi</td>
      <td>9 h - 18 h</td>
    </tr>
    <tr> 
      <td>Dimanche</td>
      <td>9 h - 18 h</td>
    </tr>
    <p>Musée fermé les 1er mai, 1er novembre et 25 décembre</p>
    </table>
        <h2>Conditions d'achat</h2>
            <p>8 billets par commande</p>
            <p>Entrée à partir de 14h pour le billets Demi-journée</p>
                <h2>Informations tarifaires</h2>
                   <p> Normal (à partir de 12 ans): 16 €</p>
                   <p>Enfant (à partir de 4 ans et jusqu’à 12 ans): à 8 €</p>
                   <p>Enfant -4ans : Gratuit</p>
                   <p>Senior (à partir de 60 ans): 12  €</p>
                   <p>Réduit  de 10 € accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)<p>
    </div>
    <div class="col-md-6">
        <h1>ETAPE 2 : Complétez les coordonnées des visiteurs</h1>

         <form action='{{ path('showtickets') }}' method='POST'>
            {# {{ form_row(form.visit) }}
             {{ form_row(form.name) }}
             {{ form_row(form.surname) }}
             {{ form_row(form.typeticket) }}
             {{ form_row(form.quantity) }}
             {{ form_row(form.email) }}#}
           
        <div class="form-group">
              <div class="hidden">
                <label class="col-form-label required">Date de la réservation</label>
                <div id="appbundle_sale_datereservation" class="form-inline">            <div class="sr-only">
                <label class="form-control-label required" for="appbundle_sale_datereservation_year">Year</label>
                <label class="form-control-label required" for="appbundle_sale_datereservation_month">Month</label>
                <label class="form-control-label required" for="appbundle_sale_datereservation_day">Day</label>
            </div><select id="appbundle_sale_datereservation_day" name="appbundle_sale[datereservation][day]" disabled="disabled" class="form-control"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7" selected="selected">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select><select id="appbundle_sale_datereservation_month" name="appbundle_sale[datereservation][month]" disabled="disabled" class="form-control"><option value="1">janv.</option><option value="2">févr.</option><option value="3">mars</option><option value="4">avr.</option><option value="5">mai</option><option value="6" selected="selected">juin</option><option value="7">juil.</option><option value="8">août</option><option value="9">sept.</option><option value="10">oct.</option><option value="11">nov.</option><option value="12">déc.</option></select><select id="appbundle_sale_datereservation_year" name="appbundle_sale[datereservation][year]" disabled="disabled" class="form-control"><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018" selected="selected">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option></select></div>

            </div>
            <div>
                <label for="appbundle_sale_visit" class="form-control-label required">Date de la visite</label>
                <input type="date" id="appbundle_sale_visit" name="appbundle_sale[visit]" required="required" class="form-control" value="">

            </div>
            <div id="typeticket">
                <label class="form-control-label required" for="appbundle_sale_typeticket">Type de ticket</label>
                <select id="appbundle_sale_typeticket" name="appbundle_sale[typeticket]" class="typeticket form-control"><option value="1" selected="selected">Journée</option><option value="0">Demi-journée</option></select>

            </div>
            <div id="quantity">
                <label for="appbundle_sale_quantity" class="form-control-label required">Nombre de billets</label>
                <input type="number" id="appbundle_sale_quantity" name="appbundle_sale[quantity]" required="required" maxlength="1" pattern=".{1,}" class="form-control" value="">

            </div>
           <div>
                <label for="appbundle_sale_name" class="form-control-label required">Prénom</label>
                <input type="text" id="appbundle_sale_name" name="appbundle_sale[name]" required="required" class="form-control">

            </div>
            <div>                
                <label for="appbundle_sale_surname" class="form-control-label required">Nom</label>
                <input type="text" id="appbundle_sale_surname" name="appbundle_sale[surname]" required="required" class="form-control">

            </div>
            <div>
                <label for="appbundle_sale_email" class="form-control-label required">Votre email</label>
                <input type="email" id="appbundle_sale_email" name="appbundle_sale[email]" required="required" class="form-control">

            </div>
        </div>
            <div class="well">
           {# <div class="form-group">
              <label class="col-sm-2 control-label required">Coordonnées visiteurs</label>
              <div class="col-sm-10">
                <div id="sale_tickets___name__">
                  <div class="form-group">
                    <label class="col-sm-2 control-label required" for="appbundle_sale_tickets_name__name">Nom</label>
                    <div class="col-sm-10">
                      <input type="text" id="appbundle_sale_tickets__name__name" name="appbundle_sale[tickets][__name__][name]" required="required" class="form-control" />
                    </div>
                  </div>
                </div>
                <div id="sale_tickets___surname__">
                  <div class="form-group">
                    <label class="col-sm-2 control-label required" for="appbundle_sale_tickets__surname__surname">Prénom</label>
                    <div class="col-sm-10">
                      <input type="text" id="appbundle_sale_tickets__surname__surname" name="appbundle_sale[tickets][__surname__][surname]" required="required" class="form-control" />
                    </div>
                  </div>
                </div>
                <div id="sale_tickets___birth__">
                  <div class="form-group">
                    <label class="col-sm-2 control-label required" for="appbundle_sale_tickets___birth___birth">Date de naissance</label>
                    <div class="col-sm-10">
                      <input type="date" id="appbundle_sale_tickets___birth___birth" name="appbundle_sale[tickets][__birth__][birth]" required="required" class="form-control" />
                    </div>
                  </div>
                </div>
                <div id="sale_tickets___country__">
                  <div class="form-group">
                    <label class="col-sm-2 control-label required" for="appbundle_sale_tickets___country___country">Pays</label>
                    <div class="col-sm-10">
                      <input type="text" id="appbundle_sale_tickets___country___country" name="appbundle_sale[tickets][__country__][country]" required="required" class="form-control" />
                    </div>
                  </div>
                </div>
                <div id="sale_tickets___reduction__">
                  <div class="form-group">
                    <label class="col-sm-2 control-label required" for="appbundle_sale_tickets___reduction___reduction">Tarif réduit</label>
                    <div class="col-sm-10">
                      <input type="checkbox" id="appbundle_sale_tickets___reduction___reduction" name="appbundle_sale[tickets][__reduction__][reduction]" class="form-control" />
                    </div>
                  </div>
                </div>
                <div id="sale_tickets___price__">
                  <div class="form-group">
                    <label class="col-sm-2 control-label required" for="appbundle_sale_tickets___price___price">Prix</label>
                    <div class="col-sm-10">
                      <input type="text" id="appbundle_sale_tickets___price___price" name="appbundle_sale[tickets][__price__][price]" required="required" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>#}

              
                 {{ form_row(form.tickets) }}
                  <a href="#" id="add_category" class="btn btn-default">Ajouter un ticket</a>
                </div>

                {# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
                   mais si vous l'avez en local, changez simplement l'adresse. #}
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

                {# Voici le script en question : #}
                <script type="text/javascript">
                  $(document).ready(function() {
                    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
                    var $container = $('div#appbundle_sale_tickets');

                    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
                    var index = $container.find(':input').length;

                    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
                    $('#add_category').click(function(e) {
                      addCategory($container);

                      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                      return false;
                    });

                    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
                    if (index === 0) {
                      addCategory($container);
                    } else {
                      // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                      $container.children('div').each(function() {
                        addDeleteLink($(this));
                      });
                    }

                    // La fonction qui ajoute un formulaire CategoryType
                    function addCategory($container) {
                      // Dans le contenu de l'attribut « data-prototype », on remplace :
                      // - le texte "__name__label__" qu'il contient par le label du champ
                      // - le texte "__name__" qu'il contient par le numéro du champ
                      var template = $container.attr('data-prototype')
                        .replace(/__name__label__/g, 'Ticket n°' + (index+1))
                        .replace(/__name__/g,        index)
                      ;

                      // On crée un objet jquery qui contient ce template
                      var $prototype = $(template);

                      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                      addDeleteLink($prototype);

                      // On ajoute le prototype modifié à la fin de la balise <div>
                      $container.append($prototype);

                      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                      index++;
                    }

                    // La fonction qui ajoute un lien de suppression d'une catégorie
                    function addDeleteLink($prototype) {
                      // Création du lien
                      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

                      // Ajout du lien
                      $prototype.append($deleteLink);

                      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                      $deleteLink.click(function(e) {
                        $prototype.remove();

                        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                        return false;
                      });
                    }
                  });
                </script>
            </div>

            <script type="text/javascript">
                      var PRICE_DAY = 16;
                      var PRICE_PM = 8;
                      
                      var ADULTE = 16;
                      var ENFANT = 8;
                      var SENIOR = 12;
                                            
                      $('#calcul').click(function() {
                         var d = new Date();
                         var now = d.getFullYear()+'-'+d.getMonth()+'-'+d.getDay();
                         var birth = $('#sale_tickets___birth___birth').val();
                         resultats = new Date(now - birth);
                         alert(now);
                         alert(birth);
                         alert(resultats);
                         //$('#appbundle_ticket_price').html();
                         /*if(resultats >= 60) {
                              /*if( $('.reduc').attr('checked') ) {
                                  let price = SENIOR-10;
                              }; */
                            /* let price = 12;
                              
                          }
                          if(resultats >= 12) {
                              let price = 16;
                          }
                          if(resultats > 4 && resultats < 12) {
                              let price = 8;
                          }
                          $('#appbundle_ticket_price').html(price);*/
                      });
                 </script>
                 
        </div> <br />
            <div>
            <button type="submit" name="Valider coordonnées visiteur"  value="enregistrer"  class="btn btn-primary">Valider coordonnées visiteur</button> 
            </div>
         </form>

    

</div>

{% endblock %}
